body {
  text-align: center;
  margin: 0px;
  padding: 0px;

  /* Fuentes */
  font-family: "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -moz-osx-font-smoothing: antialiased;
}

#header {
  height: 120px;
  width: 100%;
  background: white;
  border-bottom: 1px solid #ccc;
  border-top: 4px solid #3c5b6f;
}

/* Maquetando logo, y marca */
#logo {
  width: 30%; /* cambiar a 30% */
  font-size: 30px;
  float: left;
  margin-top: 35px; /* colocar margen */
}

#logo img {
  display: block;
  float: left;
  height: 75px;
  margin-top: -15px;
  margin-right: 20px;
  /* Colocar animaciones */
  animation: girar infinite 5s linear;
}

@keyframes girar {
  from {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

#brand {
  display: block;
  margin: 0px;
  float: left;
}

.center {
  width: 75%;
  margin: 0px auto;
  /*centra un elemento*/
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

/* Maquetar menú */
#menu {
  width: 70%;
  float: right;
  font-size: 18px;
}

#menu ul {
  line-height: 85px;
  width: 60%;
  float: right;
}

#menu ul li {
  list-style: none;
  /* agregar cambios */
  height: 46px;
  display: inline-block;
  margin-left: 15px;
  margin-right: 15px;
}

#menu a {
  text-decoration: none;
  color: #153448;
  transition: 300ms all;
}

#menu a:hover {
  color: #03aed2;
}

#slider {
  width: 100%;
  background: rgb(22, 121, 171);
  background: radial-gradient(
    circle,
    rgba(22, 121, 171, 1) 39%,
    rgba(7, 65, 115, 1) 100%
  );
  height: 350px;
  /* line-height: 320px; QUITARLO */
  color: white;
  text-shadow: 0px 0px 5px #444;
}

#slider h1 {
  margin-top: 0.2px;
  padding: 0px;
  padding-top: 115px;
  text-align: center;
}

.btn-white {
  display: block;
  background: white;
  color: #868585;
  padding: 10px;
  width: 95px;
  height: 35px;
  margin: 0px auto;
  font-size: 18px;
  text-transform: uppercase;
  text-shadow: none;
  text-decoration: none;
  line-height: 35px;
  box-shadow: 0px 0px 5px #868585;
  margin-top: 40px;
  border-radius: 4px;
  transition: 300ms all;
}

.btn-white:hover{
  background: #444;
  color: white;
}

#slider.slider-small{
  height: 150px;
}

#slider.slider-small h1{
  margin-top: 0.2px;
  padding: 0px;
  padding-top: 50px;
}

/* Maquetar el contenido central */
#content{
  width: 70%;
  float: left;
  min-height: 650px;
  margin-right: 20px;
}

/* Maquetar el contenido lateral */
#sidebar{
  width: 25%;
  float: left;
}

/* Estilos para cada uno de los sidebar-item */
.sidebar-item{
  background: #f7f7f7;
  padding: 20px;
  margin-top: 30px;
}

.sidebar-item h3{
  text-transform: uppercase;
  font-size: 18px;
  margin: 0px;
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: 3px solid #eee;
}

/* CSS para el formulario de búsqueda y botones del sitio web */
.btn{
  display: block;
  background: black;
  color: white;
  padding: 15px;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 14px;
  text-decoration: none;
  max-width: 120px;
  transition: 300ms all; /* para usar pseudoclases*/
  border: none;
  cursor: pointer;
}

.sidebar-item .btn{
  margin: 0px auto;
  margin-top: 10px;
}

.btn-success{
  background: rgba(22, 121, 171, 1) 39%
}

.btn-success:hover{
  background-color: black;
}

/* Maquetar inputs */
input[type="text"], 
textarea{
    width: 100%;
    height: 30px;
    border: 1px solid #eee;
    padding: 3px;
    margin-bottom: 5px;
    transition: 300ms all;
}

input[type="text"]:focus, 
textarea:focus{
    box-shadow: 0px 0px 3px #ccc inset;
}

/* footer */
#footer{
  background: #e6e6e6;
  width: 100%;
  height: 70px;
  line-height: 65px;
  color: #484848;
}

#footer p{
  margin: 0px;
  padding: 0px;
}
